@model List<LeaveManagemnetApp.Models.Employee>

<a asp-action="InsertSampleEmployee">Insert Sample Employee</a>

@* <table> *@
@*     <tr> *@
@*         <th>Name</th> *@
@*         <th>Email</th> *@
@*         <th>IsAdmin</th> *@
@*     </tr> *@
@*     @foreach (var employee in Model) *@
@*     { *@
@*         <tr> *@
@*             <td>@employee.Name</td> *@
@*             <td>@employee.Email</td> *@
@*             <td>@employee.IsAdmin</td> *@
@*         </tr> *@
@*     } *@
@* </table> *@