@model List<Employee>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Position</th>
        <th>Age</th>
    </tr>
    @foreach (var employee in Model)
    {
        <tr>
            <td>@employee</td>
            @* <td>@employee.LastName</td> *@
            @* <td>@employee.Email</td> *@
            @* <td>@employee.Id</td> *@
        </tr>
    }
</table>