@model List<ApplyLeave>

@{
    ViewData["Title"] = "Apply Status";
}

<h2 class="text-light">Apply Status</h2>
<div class="table-responsive">
    <table class="table table-light table-bordered">
        <thead>
        <tr class="text-dark">
            <th>Start Date</th>
            <th>End Date</th>
            <th>Reason</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.StartDate.ToShortDateString()</td>
                <td>@request.EndDate.ToShortDateString()</td>
                <td>@request.Reason</td>
                <td>@request.Status</td>
            </tr>
        }
        </tbody>
    </table>
</div>