@model ApplyLeave

@{
    ViewData["Title"] = "ApplyLeave";
}

<h2>ApplyLeave</h2>


<form asp-controller="Account" asp-action="ApplyLeave" method="post">
    <div class="form-group">
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" class="form-control"/>
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" class="form-control"/>
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Reason"></label>
        <textarea asp-for="Reason" class="form-control"></textarea>
        <span asp-validation-for="Reason" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary" style="padding-top:5px">Submit</button>
</form>