@model List<ApplyLeave>

@{
    ViewData["Title"] = "Apply Status";
}

<h2>Apply Status</h2>

<table class="table">
    <thead>
    <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Reason</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var request in Model)
    {
        <tr>
            <td>@request.StartDate.ToShortDateString()</td>
            <td>@request.EndDate.ToShortDateString()</td>
            <td>@request.Reason</td>
        </tr>
    }
    </tbody>
</table>