@model string

@{
    ViewData["Title"] = "Check Apply Status";
}

<h2>Check Apply Status</h2>

<form method="post" asp-action="SubmitCheckApplyStatus">
    <div class="form-group">
        <label for="inputEmployeeID" class="text-light">Employee ID</label>
        <input type="text" class="form-control" id="inputEmployeeID" name="EmployeeID">
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 7px">Check Status</button>
</form>