@model LeaveManagemnetApp.Views.Account.SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
}

<h2>SignUp Section</h2>
<form method="post">
    <div class="form-group">
        <label for="inputUsername">Username</label>
        <input type="text" class="form-control" id="inputUsername" name="Input.Username">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" style="padding-top: 10px;" id="inputPassword" name="Input.Password">
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" style="padding-top: 10px" id="inputEmail" name="Input.Email"/>
    </div>
    <button type="submit" class="btn btn-primary " style="padding-top: 15px; margin-top: 20px">Registe</button>
</form>